<app-header></app-header>
<div class="container">
<h2>Global Chat</h2>
<div>
    Connected:{{isConnected}}
</div>

<form [formGroup]="chatFormGroup" (ngSubmit) = "onSubmit()">
    <input type="text" formControlName="message" placeholder="Messeage">
    <button type="submit" class="btn btn-primary" [disabled]="chatFormGroup.invalid">Send</button>
 
</form>

<h3>Message</h3>
<u>
    <li *ngFor="let message of messages">
        {{message.from}}-{{message.message}}-{{message.created}}
    </li>
</u>
</div>